---
argument_specs:
  main:
    short_description: "Create virtual machines based on Ansible inventory."
    description:
      - "This role provisions new rootless virtual machines. Each VM has its own user."
      - "Virtual machines are provisioned with an Ansible agent, SSH server and VPN configuration."
    author: "dogeystamp <dogeystamp@disroot.org>"
    options:
      # NOTE: when adding more options, note that this role runs on the hypervisor;
      # local variables need to be manually copied over in the role invocation

      libvirt_vm_name:
        description:
          - "VM's hostname."
        type: "str"
        required: true
      libvirt_vm_directory:
        description: "Directory to store VM information in. (The VM user's home directory will be created here.)"
        type: "path"
        default: "/var/lib/vms"
      libvirt_clean_image:
        description: "An original unmodified qcow2 image (already on the remote host) to copy to VMs."
        type: "path"
        required: true
      libvirt_mac_address:
        description:
          - "MAC address to assign to this VM."
          - "Consider using the C(52:54:00) prefix (QEMU virtual)."
        type: "str"
        required: true
      libvirt_vpn_addresses:
        description:
          - "IP addresses within the VPN that this VM has."
          - "Use CIDR notation to denote the VPN subnet.
             For example, C(10.55.55.2/24) has the address 10.55.55.2 and lives on the 10.55.55.0/24 subnet.
             This is necessary to configure the appropriate routes."
        type: "list"
        elements: "str"
        required: true
      libvirt_vpn_interface:
        type: "str"
        required: true
      libvirt_memory_mib:
        description: "Amount of memory to allocate for this VM (in MiB)."
        type: "int"
        default: 1024
      libvirt_cpu_count:
        description: "Number of virtual CPUs to allocate for this VM."
        type: "int"
        default: 1
      libvirt_agent_user:
        description: "Username for the admin user to provision in the VM. Only use alphanumeric characters."
        type: "str"
        default: "admin"
      libvirt_agent_pubkey:
        description: "SSH public key to log into the admin agent."
        type: "str"
        required: true
      libvirt_autostart:
        description: "Whether to start the VM at boot."
        type: "bool"
        default: true
      libvirt_enable_vmdisk:
        description: "Enable VM to write files to the host filesystem via virtiofs."
        type: "bool"
        default: false
