---
- name: Setup user
  ansible.builtin.include_role:
    name: container_setup
  vars:
    podman_user: "{{ forgejo_user }}"

- name: Get user information
  ansible.builtin.user:
    name: "{{ forgejo_user }}"
  register: container_user

- name: Setup podman bind mounts
  ansible.builtin.include_role:
    name: container_mounts
  vars:
    podman_user: "{{ forgejo_user }}"
    podman_mounts:
      - path: "{{ forgejo_data_path }}"
        uid: "{{ forgejo_uid }}"
        gid: "{{ forgejo_gid }}"

- name: Deploy container unit
  ansible.builtin.template:
    src: "forgejo.container.j2"
    dest: "{{ container_user.home }}/.config/containers/systemd/forgejo.container"
    mode: "u=rw,g=,o="
    owner: "{{ forgejo_user }}"
    group: "{{ forgejo_user }}"
  register: container_unit

- name: Finalize podman setup
  ansible.builtin.include_role:
    name: container_finalize
  vars:
    podman_user: "{{ forgejo_user }}"
    podman_unit_names:
      - forgejo
  when: container_unit.changed
