{
	admin off

	servers {
		listener_wrappers {
			proxy_protocol {
				allow {{ bastion_vpn_ip }}/32
				fallback_policy reject
			}
			tls
		}
	}
}

# make it so servers {} applies to port 80 too
http:// {}

(internal) {
	@external not client_ip {{ vpn1_subnet }}
	respond @external "nuh uh" 403 {
		close
	}
}

cal.{{ domain_main }} {
	import internal

	respond "this page intentionally left blank" 418 {
		close
	}
}
