{
  # email me@examplcom
	admin off

	servers {
		listener_wrappers {
			proxy_protocol {
				allow {{ bastion_vpn_ip }}/32
				fallback_policy reject
			}
			tls
		}
	}
}

(internal) {
	@external not client_ip {{ vpn1_subnet }}
	respond @external "nuh uh" 403 {
		close
	}
}
