[Unit]
Description=Caddy web server
After=network-online.target

[Container]
Image=docker.io/caddy:2-alpine
PublishPort=8443:443
PublishPort=8080:80
User={{ caddy_uid }}
Group={{ caddy_gid }}
Volume={{ caddy_conf_dir_path }}:/etc/caddy
Volume={{ caddy_data_path }}:/data
RunInit=true

[Install]
WantedBy=multiuser.target default.target
