{
	admin off

	servers {
		listener_wrappers {
			proxy_protocol {
				allow {{ bastion_vpn_ip }}/32
				fallback_policy reject
			}
			tls
		}
	}
}

# make it so servers {} applies to port 80 too
http:// {
	
}

(internal) {
	@external not client_ip {{ vpn1_subnet }}
	respond @external "nuh uh" 403 {
		close
	}
}

{% if groups["radicale"] | length > 0 %}
cal.{{ domain_main }} {
	import internal

	reverse_proxy {{ hostvars[groups.radicale[0]].ansible_host }}:5232
}
{% endif %}

{% if groups["paperless"] | length > 0 %}
{{ domain_paperless }} {
	import internal

	reverse_proxy {{ hostvars[groups.paperless[0]].ansible_host }}:8003
}
{% endif %}

{% if groups["navidrome"] | length > 0 %}
mus.{{ domain_main }} {
	import internal

	reverse_proxy {{ hostvars[groups.navidrome[0]].ansible_host }}:4533
}
{% endif %}

{% if groups["forgejo"] | length > 0 %}
git.{{ domain_main }} {
	import internal

	reverse_proxy {{ hostvars[groups.forgejo[0]].ansible_host }}:3000
}
{% endif %}

{% if groups["matrix"] | length > 0 %}
{{ matrix_domain }} {
	header {
		Strict-Transport-Security "max-age=63072000"
		X-Frame-Options "DENY"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "no-referrer"
		Permissions-Policy "interest-cohort=()"
	}

	handle /.well-known/matrix/client {
    header Content-Type application/json
    header Access-Control-Allow-Origin *
    respond `{
        "m.homeserver": {
            "base_url": "https://{{ matrix_domain }}"
        },
        "org.matrix.msc3575.proxy": {
            "url": "https://{{ matrix_domain }}"
        }
    }` 200 {
			close
		}
	}

  handle /.well-known/matrix/server {
      header Content-Type application/json
      respond `{
          "m.server": "{{ matrix_domain }}:443"
      }` 200 {
				close
			}
  }

	handle {
		reverse_proxy {{ hostvars[groups.matrix[0]].ansible_host }}:8002
	}
}
{% endif %}
