---
- name: Set hostname
  ansible.builtin.hostname:
    name: "{{ inventory_hostname }}"
  when: inventory_hostname != 'localhost'

- name: Deploy hosts file
  ansible.builtin.template:
    src: "hosts.j2"
    dest: "/etc/hosts"
    owner: root
    group: root
    mode: "u=rw,g=,o="

- name: Disable root login
  ansible.builtin.user:
    name: root
    password: '*'

- name: Deploy SSHD settings
  ansible.builtin.template:
    src: "sshd_ansible.conf"
    dest: "/etc/ssh/sshd_config.d/91-sshd_ansible.conf"
    owner: root
    group: root
    mode: "u=rw,g=,o="
    validate: /usr/sbin/sshd -t -f %s

- name: Configure sudoers
  ansible.builtin.template:
    src: "sudoers.conf.j2"
    dest: "/etc/sudoers"
    owner: root
    group: root
    mode: "u=rw,g=,o="
    validate: "/usr/sbin/visudo -cf %s"

- name: Install essential packages
  ansible.builtin.package:
    name:
      - fish
      - virtiofsd
    state: present

- name: Set timezone
  community.general.timezone:
    name: "{{ timezone }}"
