[Unit]
Description=Xandikos calendar server
After=network-online.target

[Container]
Image=ghcr.io/jelmer/xandikos
PublishPort=127.0.0.1:8001:8000
User={{ xandikos_uid }}
Group={{ xandikos_gid }}
Volume={{ xandikos_data_path }}:/data
RunInit=true
Environment=USERNAME=xandikos
Environment=EMAIL=xandikos@{{ domain_main }}
Environment=DEFAULTS=no

[Install]
WantedBy=multiuser.target default.target
