[Unit]
Description=Update DNS with current public IP
Wants=network-online.target
After=network-online.target nss-lookup.target

[Service]
Type=exec
User={{ ddclient_user.name }}
Group={{ ddclient_user.name }}
ProtectHome=true
ProtectSystem=strict
PrivateTmp=disconnected
StateDirectory=ddclient
ConfigurationDirectory=ddclient
ExecStart=/usr/bin/ddclient --foreground
Restart=on-failure

[Install]
WantedBy=multi-user.target
