# daemon settings
daemon=300  # update frequency (seconds)
syslog=yes
mail=root
mail-failure=root
pid=/var/run/ddclient.pid

# retrieving my IP address
# note: usev4 here makes ddclient not acknowledge a successful IP change,
# resulting in it constantly changing IPs (tested on version 3.11.2).
use=web
web=https://dynamicdns.park-your-domain.com/getip

# updating the dynamic DNS record
protocol=namecheap
ssl=yes
server=dynamicdns.park-your-domain.com
login={{ dyndns_domain }}
password='{{ dyndns_password }}'
{{ dyndns_host }}
