# daemon settings
daemon=300  # update frequency (seconds)
syslog=yes
mail=root
mail-failure=root
pid=/var/run/ddclient.pid

# retrieving my IP address
usev4=webv4
webv4=https://dynamicdns.park-your-domain.com/getip

# updating the dynamic DNS record
protocol=namecheap
ssl=yes
server=dynamicdns.park-your-domain.com
login={{ dyndns_domain }}
password='{{ dyndns_password }}'
{{ dyndns_host }}
