{
  # email me@examplcom
	admin off
}

(external) {
	@external not remote_ip {{ vpn1_subnet }}
}

http://10.55.55.4 {
	import external
	respond @external 403

	reverse_proxy {{ hostvars[groups["test_http"][0]]['ansible_host'] }}:8000
}
