---
- name: Create storage dir
  ansible.builtin.file:
    path: "{{ podman_storage_path }}"
    state: directory
    owner: "{{ podman_user }}"
    group: root
    mode: "u=rwx,g=,o="

- name: Deploy storage.conf
  ansible.builtin.template:
    src: "storage.conf.j2"
    dest: "~{{ podman_user }}/.config/containers/storage.conf"
    owner: "{{ podman_user }}"
    group: "root"
    mode: "u=rw,g=,o="
  when: "podman_storage_path is defined"

- name: Generate Podman service files
  ansible.builtin.command:
    argv:
      - machinectl
      - shell
      - "{{ podman_user }}@"
      - "/usr/bin/systemctl"
      - "--user"
      - "daemon-reload"
  changed_when: true

- name: Run systemd units
  ansible.builtin.command:
    argv: |
      {{[
      "machinectl",
      "shell",
      podman_user + "@",
      "/usr/bin/systemctl",
      "--user",
      "start",
      ]
      + podman_unit_names
      }}
  changed_when: true
