---
- name: Remove firewalld
  ansible.builtin.package:
    name: "firewalld"
    state: absent

- name: Ensure nftables package installed
  ansible.builtin.package:
    name: "nftables"
    state: present

- name: Determine how to deploy firewall
  ansible.builtin.set_fact:
    # If on a recent SUSE system, our nftables-custom service breaks mysteriously
    nftables_suse: "{{
        (ansible_distribution == 'openSUSE Tumbleweed')
        or (ansible_distribution == 'openSUSE Leap' and ansible_distribution_major_version == '16')
        }}"

- name: Firewall deployment (normal)
  when: not nftables_suse
  block:
    - name: Deploy firewall service (normal)
      ansible.builtin.template:
        src: "nftables-custom.service.j2"
        dest: "/etc/systemd/system/nftables-custom.service"
        owner: root
        group: root
        mode: "u=rw,g=r,o=r"
      register: firewall_serv

    - name: Deploy firewall configuration
      ansible.builtin.template:
        src: "firewall.nft.j2"
        dest: "/etc/firewall.nft"
        owner: root
        group: root
        mode: "u=rw,g=r,o=r"
        validate: "/usr/sbin/nft -cf %s"
      register: firewall_conf

    - name: Enable firewall
      ansible.builtin.systemd_service:
        name: nftables-custom
        state: started
        enabled: true

    - name: Reload firewall
      ansible.builtin.systemd_service:
        name: nftables-custom
        state: reloaded
      when: firewall_conf.changed or firewall_serv.changed

- name: Firewall deployment (recent openSUSE workaround)
  when: nftables_suse
  block:
    - name: Create firewall directory
      ansible.builtin.file:
        path: "/etc/nftables/rules"
        state: directory
        owner: root
        group: root
        mode: "u=rwX,g=,o="
    - name: Deploy firewall configuration
      ansible.builtin.template:
        src: "firewall.nft.j2"
        dest: "/etc/nftables/rules/main.nft"
        owner: root
        group: root
        mode: "u=rw,g=r,o=r"
        validate: "/usr/sbin/nft -cf %s"
      register: firewall_conf

    - name: Enable firewall
      ansible.builtin.systemd_service:
        name: nftables
        state: started
        enabled: true

    - name: Reload firewall
      ansible.builtin.systemd_service:
        name: nftables
        state: reloaded
      when: firewall_conf.changed
