[Unit]
Description=Forgejo Git forge
After=network-online.target

[Container]
Image=codeberg.org/forgejo/forgejo:10
PublishPort={{ ansible_host }}:3000:3000
PublishPort={{ ansible_host }}:2498:22
User={{ forgejo_uid }}
Group={{ forgejo_gid }}
Volume={{ forgejo_data_path }}:/data
Volume=/etc/localtime:/etc/localtime:ro
RunInit=true
Environment=FORGEJO__service__DISABLE_REGISTRATION=true
Environment=FORGEJO__server__DOMAIN={{ forgejo_domain }}
Environment=FORGEJO__server__SSH_DOMAIN={{ forgejo_domain }}
Environment=FORGEJO__server__SSH_PORT=2498
Environment=FORGEJO__server__ROOT_URL=https://{{ forgejo_domain }}/
Environment=FORGEJO__CRON_0x2E_UPDATE_CHECKER__ENABLED=false
Environment=USER_UID={{ forgejo_uid }}
Environment=USER_GID={{ forgejo_gid }}


[Install]
WantedBy=multiuser.target default.target
