[Unit]
Description=Run Paperless-NGX backups
After=paperless.service

[Service]
ExecStart=podman exec -ti systemd-paperless document_exporter ../export --no-thumbnail --no-progress-bar
Type=oneshot

[Install]
WantedBy=default.target
