[Unit]
Description=Paperless document server.
Requires=paperless-broker.service
After=paperless-broker.service

[Container]
Image=ghcr.io/paperless-ngx/paperless-ngx:latest
PublishPort={{ ansible_host }}:8003:8000
User={{ paperless_uid }}
Group={{ paperless_gid }}
Network=paperless.network
Volume={{ paperless_data_path }}:/usr/src/paperless/data
Volume={{ paperless_media_path }}:/usr/src/paperless/media
Volume={{ paperless_export_path }}:/usr/src/paperless/export
Volume={{ paperless_cons_path }}:/usr/src/paperless/consume
Environment=PAPERLESS_REDIS=redis://systemd-paperless-broker:6379
Environment=PAPERLESS_URL=https://{{ domain_paperless }}
Environment=PAPERLESS_OCR_USER_ARGS='{"continue_on_soft_render_error": true}'
Environment=PAPERLESS_OCR_PAGES=1
Environment=PAPERLESS_TASK_WORKERS=1
Environment=PAPERLESS_THREADS_PER_WORKER=1
Environment=PAPERLESS_WEBSERVER_WORKERS=1
Environment=PAPERLESS_FILENAME_FORMAT={% raw %}{{ created_year}}/{{ correspondent }}/{{ asn }}_{{ title }}{% endraw %}

Environment=PAPERLESS_ENABLE_NLTK=false
Environment=USERMAP_UID={{ paperless_uid }}
Environment=USERMAP_GID={{ paperless_gid }}
Environment=PAPERLESS_SECRET_KEY={{ paperless_secret }}

RunInit=false

[Install]
WantedBy=multiuser.target default.target
