[Unit]
Description=Paperless Redis container.
After=network-online.target

[Container]
Image=docker.io/library/redis:7
Network=paperless.network
Volume=redisdata:/data:rw
RunInit=true

[Install]
WantedBy=multiuser.target default.target
