---
- name: Setup user
  ansible.builtin.include_role:
    name: container_setup
  vars:
    podman_user: "{{ paperless_user }}"

- name: Get user information
  ansible.builtin.user:
    name: "{{ paperless_user }}"
  register: container_user

- name: Create Paperless group
  ansible.builtin.group:
    name: paperless
    state: present
  register: paperless_group

- name: Add Paperless user to its group
  ansible.builtin.user:
    name: "{{ container_user.name }}"
    groups:
      - "{{ paperless_group.name }}"
    append: true

- name: Setup podman bind mounts
  ansible.builtin.include_role:
    name: container_mounts
  vars:
    podman_user: "{{ paperless_user }}"
    podman_mounts:
      - path: "{{ paperless_data_path }}"
        uid: "{{ paperless_uid }}"
        gid: "{{ paperless_gid }}"
      - path: "{{ paperless_cons_path }}"
        uid: "{{ paperless_uid }}"
        gid: "{{ paperless_gid }}"
      - path: "{{ paperless_export_path }}"
        uid: "{{ paperless_uid }}"
        gid: "{{ paperless_gid }}"
      - path: "{{ paperless_media_path }}"
        uid: "{{ paperless_uid }}"
        gid: "{{ paperless_gid }}"

- name: Create Paperless document transfer user
  user:
    name: paperlesstx
    state: present
    groups:
      - "{{ paperless_group.name }}"
  register: paperless_tx_user

- name: Setup authorized_keys for Paperless transfer user
  ansible.posix.authorized_key:
    user: "{{ paperless_tx_user.name }}"
    state: present
    exclusive: true
    key: "{{ item }}"
    key_options: 'command="rrsync {{ paperless_cons_path }}",restrict'
  with_items: "{{ paperless_tx_pubkeys }}"

- name: Install rsync
  ansible.builtin.package:
    name: rsync
    state: present

# container_mounts sets permissions within the container's namespace;
# we're setting the owner outside the container in this task.
# as of writing, container_mounts will only set the permissions
# when creating the directory for the first time.
- name: Change consume directory permissions
  ansible.builtin.file:
    path: "{{ paperless_cons_path }}"
    state: directory
    recurse: true
    owner: "{{ paperless_tx_user.name }}"
    group: "{{ paperless_group.name }}"
    mode: "u=rwX,g=rX,o="
  when: paperless_tx_user.changed

- name: Deploy container unit (main)
  ansible.builtin.template:
    src: "paperless.container.j2"
    dest: "{{ container_user.home }}/.config/containers/systemd/paperless.container"
    mode: "u=rw,g=,o="
    owner: "{{ container_user.name }}"
    group: "{{ container_user.group }}"
  register: container_unit

- name: Deploy container unit (Redis)
  ansible.builtin.template:
    src: "paperless-broker.container.j2"
    dest: "{{ container_user.home }}/.config/containers/systemd/paperless-broker.container"
    mode: "u=rw,g=,o="
    owner: "{{ container_user.name }}"
    group: "{{ container_user.group }}"
  register: container_broker_unit

- name: Deploy container unit (Network)
  ansible.builtin.template:
    src: "paperless.network.j2"
    dest: "{{ container_user.home }}/.config/containers/systemd/paperless.network"
    mode: "u=rw,g=,o="
    owner: "{{ container_user.name }}"
    group: "{{ container_user.group }}"
  register: container_network_unit

- name: Finalize podman setup
  ansible.builtin.include_role:
    name: container_finalize
  vars:
    podman_user: "{{ container_user.name }}"
    podman_unit_names:
      - paperless-network
      - paperless
      - paperless-broker
  when: container_unit.changed or container_broker_unit.changed or container_network_unit.changed
