[NetDev]
Name={{ wireguard_interface }}
Kind=wireguard
Description={{ wireguard_description }}

[WireGuard]
PrivateKeyFile={{ privkey_path_absolute }}
{% if wireguard_listen_port is defined %}
ListenPort={{ wireguard_listen_port }}
{% endif %}

{% for peer in wireguard_peers %}
[WireGuardPeer]
{% for addr in (peer.allowed_ips | default([])) %}
AllowedIPs={{ addr }}
{% endfor %}
PublicKey={{ peer.public_key }}
{% if peer.endpoint is defined %}
Endpoint={{ peer.endpoint }}
{% endif %}
{% if peer.persistent_keepalive is defined %}
PersistentKeepalive={{ peer.persistent_keepalive }}
{% endif %}
{% endfor %}
