[Unit]
Description=Test HTTP server
After=network-online.target

[Container]
Image=docker.io/crccheck/hello-world
PublishPort={{ test_port }}:8000
User=1337
Group=1337
Volume={{ test_dir }}:/serve

[Install]
WantedBy=multiuser.target default.target
