---
- name: Install Borg packages
  ansible.builtin.package:
    name: borgbackup
    state: present

- name: Generate SSH keypair for Borg
  ansible.builtin.user:
    name: root
    generate_ssh_key: true
    ssh_key_type: "ed25519"
    ssh_key_file: ".ssh/borgkey"
    ssh_key_comment: "root @ {{ inventory_hostname }} (borg)"
  register: borg_client_user

- name: Create SSH config dir for borg client
  ansible.builtin.file:
    path: "{{ borg_client_user.home }}/.ssh"
    owner: "{{ borg_client_user.name }}"
    group: "{{ borg_client_user.group }}"
    mode: "u=rwX,g=,o="
  register: ssh_conf_dir

- name: Configure trust-on-first-use for SSH
  ansible.builtin.template:
    src: "ssh_config.j2"
    dest: "{{ ssh_conf_dir.path }}/config"
    owner: "{{ borg_client_user.name }}"
    group: "{{ borg_client_user.group }}"
    mode: "u=rw,g=,o="

- name: Save Borg SSH pubkey for future use
  ansible.builtin.set_fact:
    borg_ssh_host_pubkey: "{{ borg_client_user.ssh_public_key | trim }}"

- name: Deploy Borg client passphrase
  ansible.builtin.template:
    src: passphrase.j2
    dest: "{{ borg_client_user.home }}/.borg-passphrase"
    owner: "{{ borg_client_user.name }}"
    group: "{{ borg_client_user.name }}"
    mode: "u=r,g=,o="

- name: Deploy Borg exclude patterns
  ansible.builtin.template:
    src: excludes.j2
    dest: "{{ borg_client_user.home }}/.borg-excludes"
    owner: "{{ borg_client_user.name }}"
    group: "{{ borg_client_user.name }}"
    mode: "u=r,g=,o="

- name: Deploy Borg backup script
  ansible.builtin.template:
    src: backup.sh.j2
    dest: "{{ borg_client_user.home }}/borgbackup.sh"
    owner: "{{ borg_client_user.name }}"
    group: "{{ borg_client_user.name }}"
    mode: "u=rx,g=,o="

- name: Deploy Borg systemd service
  ansible.builtin.template:
    src: borgbk.service.j2
    dest: "/etc/systemd/system/borgbk.service"
    owner: root
    group: root
    mode: "u=rw,g=r,o=r"
