#!/bin/sh
# Provision a newly booted virtual machine image.
# This script was written for Debian Trixie.

set -e

apt-get update
apt-get --yes install ssh

groupadd -f wheel
useradd -m --groups wheel {{ libvirt_agent_user }}

# enable passwordless run0 access for the agent
cat << "EOF" > /etc/polkit-1/rules.d/10-run0-nopasswd.rules
polkit.addRule(function(action, subject) {
  if (action.id == "org.freedesktop.systemd1.manage-units") {
    if (subject.isInGroup("wheel") && subject.user == "{{ libvirt_agent_user }}") {
      return polkit.Result.YES;
    }
  }
})
EOF

# inject SSH pubkey
mkdir ~{{ libvirt_agent_user }}/.ssh
printf '%s' '{{ libvirt_agent_pubkey }}' > ~{{ libvirt_agent_user }}/.ssh/authorized_keys

# copy wireguard configuration
chown -R root:systemd-network /root/vpn
chmod -R 640 /root/vpn
mv /root/vpn/* /etc/systemd/network/
systemctl restart systemd-networkd
systemctl enable --now sshd
