#!/bin/sh
# Provision a newly booted virtual machine image.
# This script was written for Debian Trixie.

set -e

apt-get update
apt-get --yes install ssh sudo

# enable passwordless sudo for the agent
cat << "EOF" > /etc/sudoers
{{ libvirt_agent_user }} ALL=(ALL:ALL) NOPASSWD: ALL
EOF

# inject SSH pubkey
mkdir ~{{ libvirt_agent_user }}/.ssh
printf '%s' '{{ libvirt_agent_pubkey }}' > ~{{ libvirt_agent_user }}/.ssh/authorized_keys

# copy wireguard configuration
chown -R root:systemd-network /root/vpn
chmod -R 640 /root/vpn
mv /root/vpn/* /etc/systemd/network/
systemctl restart systemd-networkd
systemctl enable --now sshd
